!!!
%html
  %head
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      ToDo
      |
      for your list of ToDos
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
